.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: #fff;
    margin-top: -110px;
    padding: 150px 100px;
}

.flex-1, .flex-2, .text-unico{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: #141414;
    padding: 10px;
    flex-wrap: wrap;
}

.divisao-vazia{
    width: 300px;
    height: 300px;
}

.img-background{
    width: 320px ;
    height: 320px ;
    background-color: #078080;
    border-radius: 50%;
}

.flex-1 h2, .flex-2 h2, .text-unico h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.flex-1 p, .flex-2 p, .text-unico p{
    font-size: 18px;
    color: #9E9E9E;
    text-align: left;
}

.circulo-botao .circulo{
    width: 190px;
    height: 190px;
    background-color: #F45D48;
    border-radius: 50%;
}

.card-conteudo {
    background-color: #141414;
    color: #141414;
    padding: 50px;
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    width: 80vw;
    height: auto;
}


.vazio{
    flex-basis: 20%;
}

.card-conteudo .text-title{
    flex-basis: 30%;
}

.img img{
    width: 80vw;
    height: auto;
}

.card-conteudo .text-title h2{
    color: #F45D48;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card-conteudo .text-title h3{
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
}

.card-conteudo .mini-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-conteudo .mini-cards p{
    font-size: 15px;
    font-weight: 300;
    background-color: #fff;
    color: #141414;
    border-radius: 30px;
    padding: 10px 50px;
    border: 1px solid #141414;
}

@media (max-width: 1024px){

    .servicos{
        padding: 100px 10px;
    }

    .content .flex-1 img, .flex-2 img, .text-unico img{
        width: 250px;
        height: 220px;
        margin-right: 150px;
        align-items: center;
   }

   .img-background{
       width: 250px;
       height: 250px;
       align-items: center;
   }

   .content .flex-1 .text h2, .flex-2 .text h2, .text-unico .text h2{
    font-size: 25px;
    }

    .content .flex-1 .text p, .flex-2 .text p, .text-unico .text p{
    font-size: 12px;
    }

    .circulo-botao .circulo{
        width: 220px;
        height: 220px;
    }


}

@media (max-width: 974px){
    .card-conteudo .text-title h2{
        font-size: 25px;
    }

    .card-conteudo .text-title h3{
        font-size: 18px;
    }

    .card-conteudo .mini-cards p{
        font-size: 12px;
    }
}

@media (max-width: 849px) {
    .content{
        place-items: center;
    }

    .flex-1, .flex-2, .text-unico{
        width: 90vw;
    }
}

@media (max-width: 765px){
    .servicos{
        padding: 100px 30px;
    }

    .card-conteudo .text-title h2{
        font-size: 27px;
    }

    .card-conteudo .text-title h3{
        font-size: 22px;
    }

    .card-conteudo .mini-cards p{
        font-size: 12px;
    }

    .content{
        padding: 100px 50px;
        align-items: center;
    }

    .content .flex-1 img, .flex-2 img, .text-unico img{
         width: 250px;
         height: 220px;
         margin-right: 150px;
         align-items: center;
    }

    .img-background{
        width: 250px;
        height: 250px;
        margin-right: 80px;
        align-items: center;
    }

    .divisao-vazia{
        display: none;
    }

    .content .flex-1, .flex-2, .text-unico{
        margin-left: 0;
    }
    
    .content .flex-1 .text h2, .flex-2 .text h2, .text-unico .text h2{
         font-size: 25px;
    }
    
    .content .flex-1 .text p, .flex-2 .text p, .text-unico .text p{
         font-size: 13px;
    }

    .clientes-parceiros{
        padding: 100px 40px;
    }

    .flex-top{
        margin-bottom: 50px;
        place-items: center;
        gap: 30px;
    }

    .clientes-parceiros .flex-top .text-clientes h3
    {
        font-size: 27px;
    }

    .clientes-parceiros .flex-top .text-clientes span
    {
        font-size: 13px;
    }
    .clientes-parceiros .flex-bottom .text-parceiros h3
    {
        font-size: 27px;
    }

    .clientes-parceiros .flex-bottom .text-parceiros span
    {
        font-size: 13px;
    }

    .flex-bottom{
        place-items: center;
        gap: 30px;
    }

    .text{
        height: 190px;
    }

    .circulo-botao .circulo{
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 550px){
    .content .flex-1 .text h2, .flex-2 .text h2, .text-unico .text h2{
        font-size: 22px;
   }
   
   .content .flex-1 .text p, .flex-2 .text p, .text-unico .text p{
        font-size: 12px;
   }
}

@media (max-width: 530px){
    .servicos{
        padding: 100px 0;
    }

    .servicos span{
        font-size: 10px;
        text-align: start;
    }

    .servicos h2{
        font-size: 14px;
    }

}

@media (max-width:445px) {
    .img-background{
        width: 210px;
        height: 210px;
    }

    .content .flex-1 .text h2, .flex-2 .text h2, .text-unico .text h2{
        font-size: 18px;
   }
   
   .content .flex-1 .text p, .flex-2 .text p, .text-unico .text p{
        font-size: 10px;
   }

   .content{
        padding: 100px 150px;
   }

   .text{
        width: 100%;
        height: 180px;
        padding: 20px;
        align-items: center;
    }

}


@media (max-width: 375px) {

    hr{
        display: none;
    }

    .img-background{
        width: 150px;
        height: 150px;
        margin-right: 80px;
        align-items: center;
    }

    .servicos span{
        font-size: 5px;
    }

    .novidades{
        padding: 100px 30px;
    }

    .novidades span{
        font-size: 8px;
    }

}