.contato-top{
    display: flex;
    flex-direction: column;
    height: 505px;
    width: 100vw;
    background: #078080;
    padding: 100px 150px;
    color: #fff;
    justify-content: center;
    gap: 20px;
    z-index: 0;
}

.contato-top h2{
    font-size: 37px;
    font-weight: 700;
    color: #fff;
}

.contato-top p{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}


.fale-conosco{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 100px 150px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    gap: 15px;
}

.fale-conosco h2{
    font-size: 25px;
    color: #141414;
}

.fale-conosco p{
    font-size: 15px;
    color: #9E9E9E;
}

.fale-conosco .formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 100px;
}

.formulario form input{
    padding: 15px 10px;
    border-radius: 30px;
    border: 1px solid #9E9E9E;
    outline: none;
    color: #9E9E9E;
    padding-left: 20px;
    font-size: 16px;

}

.formulario form #mensagem{
    border-radius: 30px;
    border: 1px solid #9E9E9E;
    outline: none;
    color: #9E9E9E;
    margin-left: 10px;
    height: 150px;
    padding: 15px;
    font-size: 16px;
}

.formulario form .termos{
    display: flex;
    gap: 20px;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.termos #concordo{
    margin-top: -25px;
    margin-right: -5px;
}

 .fale-conosco p{
    font-size: 16px;
    margin-bottom: 20px;
}

.fale-conosco span{
    color: #078080 ;
}

.enviar{
    display: flex;
    width: 114.45px;
    height: 52px;
    align-items: center;
    justify-content: center;
    background-color: #078080;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}

.enviar img{
    width: 18px;
    height: 18px;
}

#btn-enviar{
    background-color: transparent;
    border: none;
    color: #fff;
}