.foto-top{
    width: 100vw;
    background-color: #fff;
    padding: 0 150px;
    padding-bottom: 10px;
    place-items: center;
}

.img img{
    border-radius: 20px;
    object-fit: cover;
    width: 70vw;
}

.servicos{
    place-items: center;
    margin-top: -120px;
}

.servicos .flex{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
    
}

.servicos .flex-1, .flex-2{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.servicos .flex-2 {
    align-items: center;
    margin-top: 70px;
    gap: 50px;
}

.servicos .flex-2 h2 {
    font-size: 36px;
    font-weight: 700;
    color: #078080;
}

.servicos .flex-1 img, .flex-2 img{
    border-radius: 20px;
}

.tropical{
    width: 100vw;
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #F5F5F5;
}

.tropical .tropical-text h2{
    font-size: 32px;
    font-weight: 500;
    color: #078080;
    text-align: center;
}

.tropical .tropical-text p{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin-top: 30px;
    padding: 10px;
}

.tropical .tropical-text span{
    font-size: 14px;
    color: #757575;
    margin-left: 150px;
}

.tropical .imgs-tropical{
    width: 60%;
    display: flex;
    justify-content: center;
}
.tropical .imgs-tropical .imgs-1{
    width: 320px;
    height: 350px;
}
.tropical .imgs-tropical .imgs-2{
    position: absolute;
    width: 300px;
    height: 250px;
    left: 400px;
    bottom: 50px;
}
.tropical .imgs-tropical .imgs-3{
    position: absolute;
    right: 0;
}
.tropical .imgs-tropical .imgs-4{
    position: absolute;
    left: 700px;
    top: 0;
    
}



.vantagens{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 150px 150px;
    background: linear-gradient(#1d1d1b 0%, #141414, #078080);
}

.vantagens h2{
    font-size: 27px;
    color: #fff;
    padding: 20px;
}

.vantagens .cards-vantagens{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vantagens .cards-vantagens .card-top, .card-bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 240px;
    flex-wrap: wrap;
}

.vantagens .cards-vantagens .card-top .card, .card-bottom .card{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}

.vantagens .cards-vantagens .card-top .card h3, .card-bottom .card h3{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #1d1d1b;
    margin-bottom: 10px;
}

.vantagens .cards-vantagens .card-top .card span, .card-bottom .card span{
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
    color: #757575;
}

@media (max-width: 1346px) {
    .vantagens{
        padding-top: 30px;
    }
    .card-top {
        margin-bottom: 120px;
    }
    
    .card-bottom {
        margin-top: 200px;
        margin-bottom: 290px;
    }
}

@media (max-width: 768px) {


    .servicos{
        padding: 50px 60px;
    }

    .foto-top {
    }
}