.foto-top{
    width: 100vw;
    background-color: #fff;
    padding: 0 150px;
    padding-bottom: 10px;
    place-items: center;
}

.img img{
    border-radius: 20px;
    object-fit: cover;
    width: 70vw;
    height: auto;
}

.servicos{
    place-items: center;
    margin-top: -120px;
}

.servicos .flex{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    flex-wrap: wrap;
    
}

.servicos .flex-1, .flex-2{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.servicos .flex-2 {
    align-items: center;
    margin-top: 70px;
    gap: 50px;
}

.servicos .flex-2 h2 {
    font-size: 36px;
    font-weight: 700;
    color: #078080;
}

.servicos .flex-1 .img-top{
    width: 30vw;
    height: auto;
    border-radius: 20px;
}

.servicos .flex-1 img, .flex-2 img{
    width: 50vw;
    height: auto;
    border-radius: 20px;
}

.tropical{
    width: 100vw;
    padding: 100px 150px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #F5F5F5;
}

.tropical .tropical-text h2{
    font-size: 32px;
    font-weight: 500;
    color: #078080;
    text-align: center;
}

.tropical .tropical-text p{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin-top: 30px;
    padding: 10px;
}

.tropical .tropical-text span{
    font-size: 14px;
    color: #757575;
    margin-left: 150px;
}

.tropical .imgs-tropical{
    width: 60%;
    display: flex;
    justify-content: center;
}

.tropical .imgs-tropical .imgs-1{
    width: 20vw;
    height: auto;
}

.tropical .imgs-tropical .imgs-2{
    position: absolute;
    width: 20vw;
    height: auto;
    left: 400px;
    bottom: 150px;
}

.tropical .imgs-tropical .imgs-3{
    position: absolute;
    width: 10vw;
    height: auto;
    right: 0;
}

.tropical .imgs-tropical .imgs-4{
    position: absolute;
    width: 10vw;
    height: auto;
    left: 700px;
    top: 0;
    
}

.vantagens{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 150px 150px;
    background: linear-gradient(#1d1d1b 0%, #141414, #078080);
}

.vantagens h2{
    font-size: 27px;
    color: #fff;
    padding: 20px;
}

.vantagens .cards-vantagens{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.vantagens .cards-vantagens .card-top, .card-bottom{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 240px;
    flex-wrap: wrap;
}

.vantagens .cards-vantagens .card-top .card, .card-bottom .card{
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}

.vantagens .cards-vantagens .card-top .card h3, .card-bottom .card h3{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #1d1d1b;
    margin-bottom: 10px;
}

.vantagens .cards-vantagens .card-top .card span, .card-bottom .card span{
    padding: 10px;
    font-size: 15px;
    font-weight: 200;
    color: #757575;
}

@media (max-width: 1346px) {
    .vantagens{
        padding-top: 30px;
    }

    .card-top {
        margin-bottom: 120px;
    }
    
    .card-bottom {
        margin-top: 200px;
        margin-bottom: 290px;
    }
}

@media (max-width: 1024px) {
    .vantagens{
        padding: 100px 100px;
    }
}

@media (max-width: 768px) {


    .servicos{
        padding: 50px 40px;
    }

    .tropical{
        padding: 100px 50px;
    }

    .vantagens{
        padding: 150px 50px;
    }

    .card-top {
        margin-bottom: 150px;
    }
    
    .card-bottom {
        margin-top: 200px;
        margin-bottom: 360px;
    }

    .tropical .imgs-tropical .imgs-2{
        top: 220px;
    }

    .tropical .imgs-tropical .imgs-4{
        left: 150px;
    }

    .vantagens .cards-vantagens .card-top .card h3, .card-bottom .card h3{
        font-size: 16px;
    }

    .vantagens .cards-vantagens .card-top .card span, .card-bottom .card span{
        font-size: 12px;
    }
}

@media (max-width: 530px){

    .tropical{
        padding: 100px 20px;
    }

    .vantagens{
        padding: 150px 20px;
    }

    .tropical{
        padding: 200px 50px;
    }

    .card-top {
        margin-bottom: 150px;
    }
    
    .card-bottom {
        margin-top: 250px;
        margin-bottom: 360px;
    }

    .tropical .imgs-tropical .imgs-3{
        top: 150px;
    }

    .tropical .imgs-tropical .imgs-2{
        top: 350px;
        left: 350px;
    }
}

@media (max-width: 500px) {

    .tropical{
        padding: 70px 10px;
    }

    .vantagens{
        padding: 150px 0px;
    }

    .tropical .imgs-tropical .imgs-2{
        top: 200px;
        left: 300px;
    }

    .vantagens .cards-vantagens .card-top .card, .card-bottom .card{
        width: 90vw;
    }
}

@media (max-width: 425px) {
    .tropical .tropical-text p{
        font-size: 13px;
    }

    .tropical .tropical-text span{
        font-size: 13px;
    }

    .tropical .imgs-tropical .imgs-4{
        display: none;
    }
    .tropical .imgs-tropical .imgs-3{
        display: none;
    }

    .tropical .imgs-tropical .imgs-2{
        top: 200px;
        left: 250px;
        display: none;
    }
}

@media (max-width: 375px) {
    .tropical .tropical-text p{
        font-size: 12px;
    }

    .tropical .tropical-text span{
        font-size: 12px;
        margin-left: 100px;
    }
}

