.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-color: #fff;
    margin-top: -110px;
    padding: 150px 130px;
}

.img-background{
    width: 320px ;
    height: 320px ;
    background-color: #078080;
    border-radius: 50%;
}

.divisao-vazia{
    width: 300px;
    height: 300px;
}

.flex-1, .flex-2, .text-unico{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color: #141414;
    padding: 10px;
    flex-wrap: wrap;
}

.flex-2{
    margin-left: 50px;
}

.flex-1, .text-unico{
    margin-right: 100px;
}

.flex-1 h2, .flex-2 h2, .text-unico h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.flex-1 p, .flex-2 p, .text-unico p{
    font-size: 18px;
    color: #9E9E9E;
    text-align: left;
}

.img{
    object-fit: cover;
}

.text{
    height: 230px;
    overflow: hidden;
}

.text a{
    display: flex;
    width: 114.45px;
    height: 52px;
    align-items: center;
    justify-content: center;
    background-color: #F45D48;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}

.text a i{
    margin-left: 5px;
}

.circulo-botao{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.circulo-botao .circulo{
    width: 190px;
    height: 190px;
    background-color: #F45D48;
    border-radius: 50%;
}